*{
box-sizing: border-box;
}
#main{
    display: flex;
}
#wrapper{
    position: relative;
}
a{
    text-decoration: none;
    color: rgb(236, 190, 130);
}
ul,li{
    list-style-type: none;
}
#header{
    background-color: antiquewhite;
    margin:0;
    padding: 25px;
}
.icons{
   width: 600px;
   float: right;
   text-align: center;
  

}
.icons li{
    display:inline-block;
    position: relative;
    bottom: 33px;
    margin: 20px;
}

#banner{
    margin-left: 400px;
    background-color: antiquewhite;
    position: relative;
    text-align: left;
    width: 1000px;
    border-bottom: 2px;
    border-color: antiquewhite;
}

#banner h1{
    margin-left:30px; 
}
#banner p{
    width: 600px;
    margin-left: 30px;
}
#banner img{
    width: 200px;
    height: auto;
    position: absolute;
    top: 30px;
    right: 60px;
}
#main .major:first-child{
    padding: 0;
    margin-left: 400px;
}
.features{
    margin-left:400px;
    margin-bottom: 0;
    padding: 0;
}
.content:nth-child(2){
    width: 50%;
    float: left;
    margin: 0;
}
.posts{
    margin-left: 400px;
}
.posts article{
    text-align: left;
    float: left;
    width: 50%;
    border-radius: 10px;
    border-color: bisque;
    border-style: dashed;
    border-collapse: collapse;
}
.posts img{
    width: 200px;
    height: auto;
    position: relative;
    top: 30px;
    right: -250px;
}
.posts h3{
    padding-right: 30px;
    padding-left: 20px;
    position:relative;
    bottom: 50px;
}
.posts p{
    padding-left: 20px;
    width: 300px;
    position: relative;
    bottom: 20px;
}
.posts li a{
    color: rgb(220, 214, 181);
    position: relative;
    bottom:50px ;
    left: 300px;
}
#sidebar{
    float: left;
    position: relative;
    top:30px;
}
#sidebar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: rgb(235, 217, 194);
    position: absolute;
    top: 90px;
    left: 1px;
    width: 390px;
    height: 100%;
    overflow-x:hidden;
}
#query{
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    position: relative;
    left:20px;
}
#menu ul{
    position: relative;
    right: 30px;
}
#menu ul li{
    padding: 30px;
}
#menu a{
    color: black;
}
.contact li{
    position: relative;
    bottom: 30px;
}
#sidebar p{
    position: relative;
    left: 40px;
    bottom: 20px;
     width: 300px;
}
#banner .button{
    position: relative;
    left: 175px;
    bottom: 38px;
    color: rgb(182, 171, 171);
}
#menu .major:first-child{
    position: relative;
    top: 50px;
    right: 200px;
}





